<div
	class="footer">
	{# <div class="float-right">
		                    10GB of <strong>250GB</strong> Free.
		                </div> #}
	<div>
		<strong>JDB -</strong>
		Journal de bord
	</div>
</div>
